body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #fdfefe;

}

.caja {

    width: 400px;
    background-color: #eaf2f8;
    border: 2px solid #3498db;
    
    padding: 20px;
    margin: 30px;
    border-radius: 8px;

}

h2 {

    margin-top: 0; color: #2980b9;

}